<h1>New author</h1>

<% if user_id %>
  <form name="author" action="/authors" method="post">
    Author's Name: <input type="text" name="name" />
    <input type="submit" value="Add Author" />
  </form>
<% else %>
  You need to be signed in
<% end %>

<%= link_to 'Back', authors_path %>
