<h1>New author</h1>

<% if user_id %>
  <%= form_tag(authors_path, :method => "post") do  %>
    <%= text_field_tag(:name) %>
    <%= submit_tag("Add Author") %>
  <% end %>
<% else %>
  You need to be signed in
<% end %>

<%= link_to 'Back', authors_path %>
