<% if user_id %>
  <%= form_tag(image_path(@author_id), method: "put") do %>
    <%= text_field_tag("url") %>
    <%= submit_tag("Add Image") %>
  <% end %>
<% else %>
  <h2>You need to be logged in to change images</h2>
  <%= link_to "Back", author_path(@author_id) %>
<% end %>
